@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-anton: "Anton", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --color-regular-yellow: #FFD15B;
    --color-regular-black: #1B1B1B;
    --color-regular-gray: #7a7a7a;
    --color-regular-light-gray: #C6C6C6;   
}

@layer components {
    h1, h2 { font-family: var(--font-anton); }
    h3, h4 { font-family: var(--font-manrope); }
    h3 {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--color-regular-gray);
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-regular-black);
    }
    .dropdown-panel > ul li:active {
        background-color: var(--color-regular-yellow);
    }
    #list-recipes > article {
        box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    }

    #ingredients #list-select > .selected, #appareils #list-select > .selected, #ustensils #list-select > .selected {
        background-color: var(--color-regular-yellow);
        color: var(--color-regular-black);
        font-weight: 700;
    }
    #ingredients #list-select > .selected::after, #appareils #list-select > .selected::after, #ustensils #list-select > .selected::after {
        content: url('../../assets/close_item_selected.svg');
        max-height: 17px;
    }
    #ingredients #list-select > .selected::after:hover, #appareils #list-select > .selected::after:hover, #ustensils #list-select > .selected::after:hover {
        cursor: pointer;
    }
}